<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" href="./static/template/layui/css/layui.css">
    <link rel="stylesheet" href="./static/template/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script src="./static/template/layui/layui.js"></script>
</head>
<body>
<div class="main">
    <div class="title-one">
        <p>嘿~你好呀</p>
        <p>[陌生人,很高兴认识你]</p>
    </div>
    <div class="sex-select">
        <div class="sex sex-mars">
            <i class="layui-icon layui-icon-male"></i>
            <div class="sex-text">男生</div>
        </div>
        <div class="sex sex-venus">
            <i class="layui-icon layui-icon-female"></i>
            <div class="sex-text">女生</div>
        </div>
    </div>
</div>
</body>


<script src="./static/template/js/index.js"></script>
</html>